# ===== DATA =====
detection/
output/
Data/

# ===== MODELS =====
PipelineMOT/models/
*.pth
*.pt

# ===== MEDIA =====
*.mp4
*.avi
*.jpg
*.png

# ===== PYTHON =====
__pycache__/
*.pyc

# ===== NOTEBOOK =====
.ipynb_checkpoints/

# ===== OS =====
.DS_Store
Thumbs.db